**/node_modules
**/.env
**/mongodb
**/Dockerfile
**/docker-compose.yml
**/settings.tmp.js
**/json_tmp
**/public/tockapp.json
**/package-lock.json
**/dist
**/.vscode
**/webserver/acousticModels
**/localconfig